* {
    color-scheme: dark;
}

html,
body {
    margin: 0;
}

.section-centred {
    margin: 10px auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

table {
    border-collapse: collapse;
    margin: 15px;
}

thead {
    margin-bottom: 5px;
}

tbody {
    tr {
        border-bottom: 2px solid black;
    }

    tr:nth-child(odd) {
        background-color: #1abc9c;
    }
}

tr {
    background-color: #16a085;
}

td,
th {
    padding: 10px;
}

section {
    clear: right;
}

.right-container {
    float: right;
    text-align: right;
}

button.squircle {
    background-color: #218c74;
    border: none;
    border-radius: 120px;
    corner-shape: squircle;
    padding: 10px 15px;
    font-size: 18px;
    margin: 10px;

    &:hover {
        background-color: #16a085;
        cursor: pointer;
    }
}